@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #2a9d8f;
  --secondary-color: #264653;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--secondary-color);
}
